
/* Container for the footer */
.footer {
    width: 100%;
    background-color: #004721; 
    color: #fff4e4;           
    text-align: center;     
    font-size: 1rem;        /* Good font size */
    position: static;
    font-family: "Outfit", sans-serif;
    
    margin-bottom: 0;
    padding: 20px;
    
   
  }
    .footer-content {
    margin-top: 10px;
  }
  
  .footer a {
    color: #007bff; 
    text-decoration: none; /* No underline */
  }
  
  .footer a:hover {
    text-decoration: underline; 
  }

  