
.container {
    
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .section-title {
    font-size: 1.5rem;
    color: #555;
    margin-top: 20px;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list li {
    background: #f8f8f8;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: black;
  }
  
  .time {
    font-weight: bold;
    color: #007bff;
    margin-top: 15px;
  }
  